# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Node / React
# =========================

node_modules/
dist/
build/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Temporary files
# =========================

*.tmp
*.temp

# =========================
# Project datasets
# =========================

projects/02-data-cleaning-eda/data/*.xlsx
projects/02-data-cleaning-eda/data/*.xls